<!DOCTYPE html>
<html><head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Exo+2:300" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="css/mooc.css">
<title> <%= title %></title>
<link rel="icon" href="images/favicon.png">

</head>
<body>

  <header class="site-header">
      <a href="#" class="logo"><img src="images/logo.png" alt="" style="width:250px; padding:5px;"></a>

    <div class="subheader">
            <ul class="principal-menu-mooc">
              <li id="menu-item-about" class="menu-item"><a href="/about">ABOUT</a></li>
              <li id="menu-item-graphs" class="menu-item"><a href="/graphs">GRAPHS</a></li>
              <li id="menu-item-data" class="menu-item"><a href="/data">DATA</a></li>
              <li id="menu-item-home" class="menu-item current-menu-item"><a href="/index">HOME</a></li>
            </ul>
    </div>
  </header>

<div class="bgimg-1">
  <div class="caption">
    <span class="border">THE NEW INNOVATIVE UNIVERSITIES RANKING</span>
  </div>
</div>

<div class="home-text">
  <h3 style="text-align:center;">Universities MOOCs</h3>
  <p>This is a webpage that displays and measures a ranking of the worldwide best known universities
    according to the online courses (MOOCs) that they have uploaded online. This is a project developed for a
    thesis (Trabajo Fin de Grado) of a student from Universidad Carlos III de Madrid (UC3M), which will
    measure the degree of innovation of the universities and will compare it to the well-known ranking of Shangai.
    In order to do so, some data has been researched and downloaded from pages like Coursera or EdX and
    displayed into tables that can be found in the data section. This data will also be presented in a
    more visual format, like in maps and graphs that can be found in the graphs section.</p>
</div>

<div class="bgimg-2">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">THE NEW WAY OF LEARNING</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;padding:50px 80px;text-align: justify;">
    <p>© Leire Litwin</p>
  </div>
</div>

<div class="bgimg-3">
  <img id="statistics-image" src="images/graphs.png" width="420px">
  <div class="caption" style="top:45%;">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"><a href="/data">ACCESS TO THE DATA</a></span>
  </div>
</div>


<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;padding:50px 80px;text-align: right;">
    <p> © Leire Litwin</p>
  </div>
</div>

<div class="bgimg-1">
  <div class="caption">
    <span class="border"><a href="/graphs">SHOW ME SOME GRAPHS</a></span>
  </div>
</div>

<div style="float:right" id="google_translate_element"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT, multilanguagePage: true}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


</body></html>
